* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    height: 80px;
    background: #375666;
    border: 8px solid transparent;
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb:active {
    background: #003349;
}
body {
    font-family: sans-serif;
    background: #002333;
}
li {
    list-style: none;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5%;
    min-height: 100vh;
}
.title {
    font-size: 20px;
    font-weight: 600;
    color: #dcdee1;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    /* border: 2px solid red; */
}
.container #main-Video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    outline: none;
}

.playlistBx {
    position: relative;
    height: 100%;
    margin: 0 10px 0 10px;
    /* border: 2px solid green; */
}
.playlist {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    border-top: 1px solid #dcdee1;
}
.playlist::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148))
    );
}

.playlistBx .row .AllLessons {
    display: block;
    text-align: left;
    color: #dcdee1;
    font-size: 15px;
    font-weight: 700;
    margin-left: 40px;
    line-height: 40px;
}
.playlist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #dcdee1;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 5px;
}
.playlist li:hover {
    border: 0.5px solid #375666;
}
.playlist li .row span {
    font-size: 15px;
    font-weight: 400;
    color: #dcdee1;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}
.playlist li .row span::before {
    content: "\f01d";
    font-family: FontAwesome;
    color: #dcdee1;
    margin-right: 15px;
    font-size: 20px;
}
ul li.playing .row span::before {
    content: "\f28c";
    font-family: FontAwesome;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}
.playlist li.playing .row span {
    color: #fff;
}
.playlist li span.duration {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    color: #dcdee1;
    text-align: right;
}
.playlist li.playing {
    pointer-events: none;
    background: #1d3541;
    border: 0.5px solid #1d3541;
}

@media (max-width: 1092px) {
    section {
        padding: 30px 10px;
    }
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
    }
    .container #main-Video {
        height: 100%;
    }
    .playlistBx {
        height: 380px;
        margin-top: 10px;
    }
    .playlist {
        position: absolute;
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: scroll;
    }
}
.btn {
    padding: 2.5%;
    display: flex;
}
.btn button {
    padding: 20px;
}
body .wrapper {
    margin: 10px auto;
}
body .wrapper .search-input {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
body .wrapper .search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
body .wrapper .search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}
body .wrapper .search-input .autocom-box {
    /* padding: 10px 8px; */
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
body .wrapper .search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
body .wrapper .search-input.active .autocom-box li {
    display: block;
}
body .wrapper .search-input .autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}
.autocom-box li:hover {
    background: #efefef;
}
.clear {
    clear: both;
}
#main {
}
#header {
    height: 46px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}
#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 96px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .nav-arrow-down {
    font-size: 10px;
}
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider {
    margin: 0;
    /* margin-top:46px; */
    padding-top: 55%;
    background: url("/img/ds.png") top center / cover no-repeat;
}
html {
    scroll-behavior: smooth;
}
#content {
}
#content .content-section,
#group .content-section {
    color: #fff;
    width: 800px;
    padding: 54px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading,
#group .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading,
#group .section-sub-heading {
    font-size: 15px;
    text-align: right;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-text,
#group .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-img,
#group .member-img {
    width: 100px;
    border-radius: 50px;
}
#content .username,
#group .username {
    /* font-weight: bold; */
    float: right;
    text-align: left;
}
#group {
    background: rgba(26, 129, 136, 0.1);
}
#backtop {
    width: 50px;
    height: 50px;
    background: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
.button {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}

.button .text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.button:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}

.button:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.button:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.button:disabled {
    background: #dddd;
}

.img-video {
    float: left;
    width: 130px;
    height: 100px;
    object-fit: cover;
}

.refresh-button {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    border-radius: 0 5px 5px 0;
}

.refresh-button:active {
    background-image: linear-gradient(-45deg, #4568dc, #6aaeb3);
}
